/*fonts*/
@font-face{
    font-family: 'nunitosans';
    src: url(../fonts/nunitosans/nunitosans-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'nunitosans';
    src: url(../fonts/nunitosans/nunitosans-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'nunitosans';
    src: url(../fonts/nunitosans/nunitosans-black-webfont.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'nunitosans';
    src: url(../fonts/nunitosans/nunitosans-blackitalic-webfont.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face{
    font-family: 'lato';
    src: url(../fonts/lato/lato-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'lato';
    src: url(../fonts/lato/lato-italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'lato';
    src: url(../fonts/lato/lato-bold-webfont.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'lato';
    src: url(../fonts/lato/lato-bolditalic-webfont.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
}
/*home*/
body{
    background-color: #eeede8;
}
h1,h2{
    color: #26303b;
    font-family: 'nunitosans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.intro_text{
    font-size: 1.5rem;
    margin: 1.5rem;
}
h3{
    font-family: 'lato', Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
ul.navbar, li.nav {
    color: #26303b;
    display: inline;
    font-family: 'nunitosans';
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
    list-style: none;
    margin: .5rem;
    position: relative;
    bottom: 2.7rem;
    float: right;
    right: 2%;
}
.heading{
    background-color: #021a37;
    height: 90px;
}
.logo{
    bottom: .5rem;
    height: 50px;
    padding: 1.6rem;
    position: relative;
    width: 50px;
}
div.nav{
    text-transform: uppercase;
}
/*resume*/
h1.name{
    font-family: 'nunitosans';
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 0;
    padding-left: 3rem;
    text-transform: uppercase;
}
h2.titles{
    font-family: 'nunitosans';
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 0;
    padding-left: 3rem;
}
h2.download{
    float: left;
    font-family: 'nunitosans';
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 0;
    padding-left: 3rem;
    margin-right: 1rem;
}
.downloadsvg{
    display: inline;
    height: 25px;
    width: 25px;
    margin-top: 1.6rem;
}
p.description{
    color: #021a37;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 3rem;
}
ul.description, li{
    font-family: 'lato', Arial, Helvetica, sans-serif;
    list-style: none;
    padding-left: 1.5rem;
}
h3.subtitle, h3.course, h3.position{
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
ul.work, li.info{
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding-left: 1.5rem;
}
div.res_content{
    margin-left: 2rem;
    margin-top: 4rem;
    margin-right: 2rem;
}


a.resume:link {color: #eeede8;}
a.resume:visited {color: #eeede8;}
a.resume:hover {color: #94a2a6;}

a.portfolio:link {color: #eeede8;}
a.portfolio:visited {color: #eeede8;}
a.portfolio:hover {color: #94a2a6;}

a.about_me:link {color: #eeede8;}
a.about_me:visited {color: #eeede8;}
a.about_me:hover {color: #94a2a6;}

a.additional_works:link {color: #eeede8;}
a.additional_works:visited {color: #eeede8;}
a.additional_works:hover {color: #94a2a6;}